@import "tailwindcss";

/* @theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-mono), ui-monospace, SFMono-Regular, monospace;

  --color-zinc-950: #09090b;
} */

:root {
  --bg: #09090b;
  --accent: #10b981;
}

body {
  background-color: var(--bg);
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
}

.glow-up {
  text-shadow: 0 0 10px rgba(34, 197, 94, 0.4);
}

.glow-down {
  text-shadow: 0 0 10px rgba(239, 68, 68, 0.4);
}

/* Custom scrollbar for Market Registry */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }

  100% {
    background-position: 400px 0;
  }
}

.shimmer {
  background: linear-gradient(90deg,
      #0b0f14 25%,
      #1a1f26 50%,
      #0b0f14 75%);
  background-size: 800px 100%;
  animation: shimmer 1.5s infinite linear;
}